@import "~bootstrap/scss/bootstrap";
@import './body.scss';


.banner-holder, .main-page-header{
    background-image: url('../img/img5.jpg');
    background-size: cover;
    background-position: bottom;
}